@media only screen and (max-width:1150px){
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        transition: all .7s ease-out;
        height: 450px;
    }
    .rtNav{
        text-align: center;
    }
    .burger{
        display: block;
    }
    
    
    .h-navResp{
       height: 72px;
    }
   .v-classResp{
       opacity: 0;
   }
   .main-box{
       flex-direction: column-reverse;
       max-width: 100%;
       
    }
    .text-big{
        margin-bottom: 10px;
        text-align: center;

    }
    .text-small{
        margin-bottom: 10px;
        text-align: center;

    }
    .buttons{
        margin-bottom: 10px;
        text-align: center;
    }
    .secondhalf{
        margin: 40px ;
        max-width: 33%;
        max-height: 33%;
       text-align: center;
    }
    .section{
        flex-direction: column-reverse;
        text-align: right;
    }
    
    

}
